<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Senac Pic</title>
  </head>
  <body>
    <div class="container">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="https://www.bacancytechnology.com/img/angular-imgs/side-bg1.jpg" class="rounded img-fluid float-left" alt="...">
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Curtir</a>
            <a href="#" class="card-link">Seguir</a>
          </div>
        </div>
    </div>
  </body>
</html>